* {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.navbar-shadow {
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
}

#brand {
    padding-top: 20px;
    width: 230px;
    height: 80px;
}

.page-title {
    padding-top: 0;
}

.page-title-content {
    text-align: center;
    position: relative;
}

.pt-7 {
    padding-top: 3.13rem;
}
